.products{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
}

.product{
    margin-bottom: 10px;
}

.product-name{
    font-weight: 400;
    color: blue;
}

.btn-regular{
    height: 30px;
    width: 200px;
    background-color: rgb(255, 224, 86);
    padding: 8px 20px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 4px;
    cursor: pointer;
}