.header nav{
    background-color: black;
    padding: 10px;
}
.logo{
    height: 80px;
    display: flex;
    margin: 0 auto;
}

.nav-bar{
    margin-left: 30px;
}
.header nav a{
    text-decoration: none;
    color: white;
    background-color: black;
    margin-right: 30px;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 17px;
}

.header nav a:hover{
    background-color: lightgray;
}